* {
    margin: 0;
    padding: 0;
}

.container {
    border: 2px solid red;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 5fr;
    gap: 10px;
    height: 100vh;
}


.sidebar {
    grid-row: 1 / 3;
    display: grid;
    grid-template: 1fr 3fr 3fr / 1fr;
    align-self: start;
    /* border: 2px solid black; */
}

.sidebar-header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-self: center;
    align-self: center;
    /* border: 2px solid black; */
}

 .icon {
    width: 50px;
    height: 50px;
 }

 .sidebar-title,
 .nav-title,
 .options-title {
    align-self: center;
    margin-left: 15px;
 }

.nav {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-self: center;
    align-self: center;
    /* border: 2px solid black; */
}

.options {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-self: center;
    align-self: center;
    /* border: 1px solid black; */
}

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 2px solid black;
}

.top-header {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    justify-self: center;
}

.bottom-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 2px solid black;
}

.main-content > div {
    border: 1px solid black;
}

.trending {
    grid-column: 2 / 3;
}

.projects {
    grid-row: 1 / 3;
}